 body {
     background-color: lightcoral;
 }
 
 nav {
     background-color: lightblue;
 }
 
 nav a {
     color: #ce1a1a;
 }
 
 nav > ul {
     display: flex;
     list-style-type: none;
     line-height: 3em;
     margin-left: 10%;
 }
 
 #logo {
     margin-bottom: -120px;
     position: relative;
     border-color: red;
     background-color: white;
     width: 10%;
     margin-left: 1%;
     border: 3px #941100 solid;
 }
 