 body {
     background-color: lightsteelblue;
 }
 nav {
     background-color: whitesmoke;
 }
nav a {
     color: #000000;
 }
 
 .top-row {
     background-color: whitesmoke;
     color: #ce1a1a;
     justify-content: space-around;
     align-items: center;
     padding: 20px;
     max-width: 940px;
 }
 
 #section1,
 #section2,
 #section3,
 #section4 {
     display: flex;
 }
 
 nav li {
     padding: 2em;
 }
 
 h1 {
     text-align: center;
     font-size: 215%;
     line-height: 135%;
 }
 .second-row {
     background-color: #fcfca9;
     color: #2acc55;
     justify-content: space-around;
     align-items: center;
     padding: 20px;
     max-width: 940px;
 }
 
.third-row {
     background-color: whitesmoke;
     color: #ce1a1a;
     justify-content: space-around;
     align-items: center;
     padding: 20px;
     max-width: 940px;
 }
 
 .bottom-row {
     background-color: #fcfca9;
     color: #2acc55;
     justify-content: space-around;
     align-items: center;
     padding: 20px;
     max-width: 940px;
 }
#logo {
     margin-bottom: -127px;
     position: relative;
     background-color: black;
     width: 30%;
     margin-left: 0%;
    border: 1px #000000 solid;
 }
nav > ul {
     display: flex;
     list-style-type: none;
     line-height: 3em;
     margin-left: 30%;
 }